html,body{
	font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 10px;
	line-height: 1.5;
	height: 100%;
}
/* 公共类 */
a{
	font-style: normal;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
em{
	font-style: normal;
	font-weight: 700;
	color: #1c5ac4;
}
i{
	font-style: normal;
}
.pull-right{
	float: right;
	/* font-size: 1rem; */
}
.hidden{
	display: none;
}
.container{
	height: 100%;
}
/* iconfont */
.iconfont{
	padding: 0 12px;
	color: #7c7f92;
}
/* 清楚浮动 */
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;/*IE/7/6*/
}
/* sidebar */
.sidebar{
	height: 100%;
	width: 200px;
	float: left;
	background: #1f273f;
}
.sidebar > ul{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #7c7f92;
}
.sidebar > ul > li{
	line-height: 4rem;
}
.sidebar > ul > li > a{
	display: block;
	width: 100%;
	cursor: pointer;
}
.sidebar > ul > li > a:hover{
	color: #fff;
}
.sidebar > ul > li > ul{
	overflow: hidden;
	display: none; 
	background: #11172b;
}
.sidebar > ul > li > a > i.add{
	animation: add 0.2s linear forwards;
}
@keyframes add{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}
.sidebar > ul > li > a > i.add_1{
	animation: add_1 0.2s linear forwards;
}
@keyframes add{
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
/* content */
.content{
	height: 100%;
	width: calc(100% - 200px);
	float: left;
	background: #ececec;
}