html,body{
	font-family: "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 10px;
	line-height: 1.5;
	height: 100%;
}
/* 公共类 */
img{
	border: none;
}
a{
	font-style: normal;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
em{
	font-style: normal;
	font-weight: 700;
	color: #1c5ac4;
}
i{
	font-style: normal;
}
.pull-right{
	float: right;
	/* font-size: 1rem; */
}
.hidden{
	display: none;
}
.container{
	height: 100%;
}
/* iconfont */
.iconfont{
	padding: 0 12px;
	color: #5d6f7b;
}
/* 清楚浮动 */
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;/*IE/7/6*/
}
/* sidebar */
.logo{
	padding: 36px 0 16px 0;
	background: #f25743;
}
.logo p{
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
}
.logo .logo-img{
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.sidebar{
	height: 100%;
	width: 200px;
	float: left;
	background: #222629;
}
.sidebar > ul{
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #5d6f7b;
}
.sidebar > ul > li{
	line-height: 4rem;
}
.sidebar > ul > li > a{
	display: block;
	width: 100%;
	cursor: pointer;
}
.sidebar > ul > li:hover{
	background: #222629;
}
.sidebar > ul > li > ul{
	overflow: hidden;
	display: none; 
	background: #282c2f;
}
.sidebar > ul > li > a > i.add{
	-webkit-animation: add 0.2s linear forwards;
			animation: add 0.2s linear forwards;
}
@keyframes add{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}
@-webkit-keyframes add{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-90deg);
	}
}
.sidebar > ul > li > a > i.add_1{
	-webkit-animation: add_1 0.2s linear forwards;
			animation: add_1 0.2s linear forwards;
}
@keyframes add_1{
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-webkit-keyframes add_1{
	0% {
		transform: rotate(-90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.spinner > li > ul{
	padding: 0;
	margin: 0;
}
.spinner > li > ul > li > a{
	display: block;
	width: 100%;
	padding-left: 40px;
	color: #5d6f7b;
	font-style: normal;
}
.spinner > li > ul > li a:hover{
	color: #83949c;
}
/* content */
.content{
	height: 100%;
	width: calc(100% - 200px);
	float: left;
	background: #ececec;
}